.buy-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // opacity: 0;
    pointer-events: none;
    transition: 0.5; 
    box-sizing: border-box;
}

.buy-modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    background-color: #fff;
    width: 516px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
}
.modal__close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.modal__header{
    background-color: #fff;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}
.modal__main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 20px 30px;
    line-height: 30px;
    font-weight: bold;
}
.modal__btn{
    width: 101px;
    height: 41px;
    margin: 15px;
    border: none;
    background-color:#000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
}
.modal__footer{
    display: flex;
    justify-content: center;
}