.header__menu{
    background-color: orangered;
    padding: 15px;
  & a{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
  }
    
}
.navbar-toggler{
    border: none;
}