.home__page,
.favorites__page,
.cart__page{
    height: 100vh;
    background-image: url('./Snowboarder_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 15px;
}
.card-body__img{
    width: 100%;
}
.card-price{
    color: orangered;
    text-transform: uppercase;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}
.btn.btn-primary{
    background-color: black;
    border-color: black;
    width: 100%;
}

@media (min-width: 1400px) {
    .card__list{
        grid-template-columns: repeat(4, 1fr);
    }
}